<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="news" style="margin-bottom:30px">
            <div class="news__thumbnail">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" title="Tải game Plants vs. Zombies: Garden Warfare 2">
                    <img
                    src="../../assets/images/download_1.jpg" alt="Plants vs. Zombies: Garden Warfare 2"
                    title="Plants vs. Zombies: Garden Warfare 2"
                    />
                </a>
            <div class="pin-tag">
            </div>
            </div>
            <div class="news__content">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" class="news-title" title="Tải game Plants vs. Zombies: Garden Warfare 2">
                <h2>Plants vs. Zombies: Garden Warfare 2</h2>
            </a>
            <p style="font-size:14px">Phát hành: 23/02/2016</p>
            <p style="font-size:14px" class="theloailist">
                <a title="Danh mục các game phiêu lưu" href="/adventure-games/?page=1" target="_blank">Phiêu lưu</a>
                <a title="Danh mục các game chiến thuật" href="/strategy-games/?page=1" target="_blank">Chiến thuật</a>
                <a title="Danh mục các game indie" href="/indie-games/?page=1" target="_blank">Indie</a>
            </p>
            </div>
            <div class="news__meta">
                <div class="rating">
                    <ul>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"></span></li>
                    </ul>
                </div>
                <div class="other">
                    <ul>
                        <li>
                            <span class="fas fa-heart scolor"></span>
                            <span>8</span>
                        </li>
                        <li>
                            <span class="fas fa-comment mcolor3"></span>
                            <span>26</span>
                        </li>
                        <li>
                            <span class="fas fa-eye pcolor"></span>
                            <span>58767</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="news" style="margin-bottom:30px">
            <div class="news__thumbnail">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" title="Tải game Playerunknown's Battlegrounds">
                    <img
                    src="../../assets/images/download_4.jpg" alt="Playerunknown's Battlegrounds"
                    title="Playerunknown's Battlegrounds"
                    />
                </a>
            <div class="pin-tag">
            </div>
            </div>
            <div class="news__content">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" class="news-title" title="Tải game Playerunknown's Battlegrounds">
                <h2>Playerunknown's Battlegrounds</h2>
            </a>
            <p style="font-size:14px">Phát hành: 23/02/2019</p>
            <p style="font-size:14px" class="theloailist">
                <a title="Danh mục các game phiêu lưu" href="/adventure-games/?page=1" target="_blank">Phiêu lưu</a>
                <a title="Danh mục các game chiến thuật" href="/strategy-games/?page=1" target="_blank">Chiến thuật</a>
                <a title="Danh mục các game indie" href="/indie-games/?page=1" target="_blank">Indie</a>
            </p>
            </div>
            <div class="news__meta">
                <div class="rating">
                    <ul>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"></span></li>
                    </ul>
                </div>
                <div class="other">
                    <ul>
                        <li>
                            <span class="fas fa-heart scolor"></span>
                            <span>18</span>
                        </li>
                        <li>
                            <span class="fas fa-comment mcolor3"></span>
                            <span>2</span>
                        </li>
                        <li>
                            <span class="fas fa-eye pcolor"></span>
                            <span>28767</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="news" style="margin-bottom:30px">
            <div class="news__thumbnail">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" title="eFootball PES 2020">
                    <img
                    src="../../assets/images/download_3.jpg" alt="eFootball PES 2020"
                    title="eFootball PES 2020"
                    />
                </a>
            <div class="pin-tag">
            </div>
            </div>
            <div class="news__content">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" class="news-title" title="eFootball PES 2020">
                <h2>eFootball PES 2020</h2>
            </a>
            <p style="font-size:14px">Phát hành: 24/02/2020</p>
            <p style="font-size:14px" class="theloailist">
                <a title="Danh mục các game phiêu lưu" href="/adventure-games/?page=1" target="_blank">Thể thao</a>
                <a title="Danh mục các game chiến thuật" href="/strategy-games/?page=1" target="_blank">Mô phỏng</a>
                <a title="Danh mục các game indie" href="/indie-games/?page=1" target="_blank">Thế giới mở</a>
            </p>
            </div>
            <div class="news__meta">
                <div class="rating">
                    <ul>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                    </ul>
                </div>
                <div class="other">
                    <ul>
                        <li>
                            <span class="fas fa-heart scolor"></span>
                            <span>200</span>
                        </li>
                        <li>
                            <span class="fas fa-comment mcolor3"></span>
                            <span>20</span>
                        </li>
                        <li>
                            <span class="fas fa-eye pcolor"></span>
                            <span>24467</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="news" style="margin-bottom:30px">
            <div class="news__thumbnail">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" title="Tải game The Crew">
                    <img
                    src="../../assets/images/download_2.jpg" alt="The Crew"
                    title="The Crew"
                    />
                </a>
            <div class="pin-tag">
            </div>
            </div>
            <div class="news__content">
                <a href="/game/plants-vs-zombies-garden-warfare-2-2873" class="news-title" title="Tải game The Crew">
                <h2>The Crew</h2>
            </a>
            <p style="font-size:14px">Phát hành: 23/02/2012</p>
            <p style="font-size:14px" class="theloailist">
                <a title="Danh mục các game phiêu lưu" href="/adventure-games/?page=1" target="_blank">Hành động</a>
                <a title="Danh mục các game chiến thuật" href="/strategy-games/?page=1" target="_blank">Nhập vai</a>
                <a title="Danh mục các game indie" href="/indie-games/?page=1" target="_blank">Thế giới mở</a>
            </p>
            </div>
            <div class="news__meta">
                <div class="rating">
                    <ul>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                    </ul>
                </div>
                <div class="other">
                    <ul>
                        <li>
                            <span class="fas fa-heart scolor"></span>
                            <span>12</span>
                        </li>
                        <li>
                            <span class="fas fa-comment mcolor3"></span>
                            <span>20</span>
                        </li>
                        <li>
                            <span class="fas fa-eye pcolor"></span>
                            <span>3467</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
